<h1>Data Science Tools and Ecosystem<h1>
    <h2>In this notebook, Data Science Tools and Ecosystem are summarized.<h2>
        <b> Objectives: </b>
        <br> *List popular languages for Data Science </br>
        <br> *Create a code cell to multiply and add numbers</br>
    <br> *Create a markdown cell introducing arithmetic expression examples</br>

<h3> Some of the popular languages that Data Scientists use are:<h3>

<ol>
<li>Python<
 </li>
<li>R</li>
<li>SQL</li>
</ol>

<h4> Some of the commonly used libraries used by Data Scientists include:<h4>
<ol>
<li>Pandas</
 </li>
<li>SciKit-Learn</li>
<li>NumPy</li>
</ol>

<table style="width:20%">
<tr>
<th>Data Science Tools</th>
</tr>

<tr>
<td>Watson Studio </td>
</tr>

<tr>
<td>Jupter</td>
</tr>

<tr>
<td>R's studio</td>
</tr>

</table>

<h3> Below are a few examples of evaluating arithmetic expressions in Python.<h3>

This a simple arithmetic expression to mutiply then add integers

In [33]:
3*4+5

17

This will convert 200 minutes to hours by diving by 60

In [35]:
200/60

3.3333333333333335

<h2> Xingyu Liu </h2>